*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    transition: all 0.3s cubic-bezier(.38 , 1.15 , 0.7 , 1.12);
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

:root{
    --yellow: #fcdd23;
    --lightblack: #333;
}

html::-webkit-scrollbar{
    width: 0.8rem;
}

html::-webkit-scrollbar-track{
    background-color: var(--lightblack);
}

html::-webkit-scrollbar-thumb{
    background-color: var(--yellow);
    border-radius: 20px;
}

*::selection{
    background: #333;
    color: var(--yellow);
}

header{
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    position: relative;
}

.HeaderActive{
    position: fixed;
    z-index: 100000;
    box-shadow: 0 0.5rem 1ren rgba(0, 0, 0, 0.1)!important;
}

.search-box{
    position: absolute;
    top: 55%; 
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--yellow);
    padding: 1.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    transform-origin: top;
    transform: scaleY(0);
}

.active{
    transform: scaleY(1);
    opacity: 1;
}

.fa-times{
    transition: all 1s ease-in-out;
    transform: rotate(-360deg);
}

#menu{
    font-size: 1.5rem;
    color: var(--lightblack);
    cursor: pointer;
    display: none;
}

#search-box > #search{
    margin: auto;
    width: 90%;
    text-transform: none;
    font-size: 1.5rem;
    padding: 5px 20px;
}

#search-box > #search::placeholder{
    font-size: 15px;
}

#search-box > label {
    font-size: 2rem;
    color: var(--lightblack);
    padding: auto;
    cursor: pointer;
    padding: 0.5rem;
}

header > .logo{
    font-size: 2.5rem;
    color: var(--lightblack);
    font-weight: 600;
    letter-spacing: 4px;
}

header > .logo > i{
    transform: rotate(-65deg);
    color: var(--yellow);
}

header > .navbar > a{
    color: var(--lightblack);
    font-size: 1.5rem;
    padding: 0 1rem;
}

header > .navbar > a:hover{
    color: var(--yellow);
    transform: scale(1.1);
}

header > .icons > i,
header > .icons > a{
    font-size: 1.5rem;
    color: var(--lightblack);
    padding-left: 1.5rem;
    cursor: pointer;
}

header > .icons > i:hover,
header > .icons > a:hover{
    color: var(--yellow);
}

.show{
    transform: scaleY(1);
    opacity: 1;
}

#header-container{
    height: 75vh;
    background-image: url(images/home-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 80px;
    display: flex;
    justify-content: left;
    align-items: center;
    line-height: 80px;
}

.header-text>p{
    color: var(--lightblack);
    font-size: 20px;
}

.header-text>h1{
    color: var(--lightblack);
    font-size: 55px;
    letter-spacing: 5px;
    word-spacing: 5px;
    margin-bottom: 40px;
}

.btn{
    color: var(--yellow);
    border: 2px solid var(--lightblack);
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 20px;
    background-color: var(--lightblack);
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.1);
}

#category{
    width: 80%;
    margin: auto;
    padding: 60px 0px;
    text-align: center;
}

#category>h1{
    font-size: 40px;
    color: var(--lightblack);
    letter-spacing: 5px;
}

.fa-paw{
    color: var(--yellow);
}

.category-card-wrapper{
    padding: 50px 0px;
}

.category-card-holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-card > img{
    width: 90%;
}

.category-card>p{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 25px;
    color: var(--lightblack);
}

.btn1{
    color: var(--yellow);
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 15px;
    background-color: var(--lightblack);
    cursor: pointer;
    border: none;
}

.btn1:hover{
    transform: scale(1.1);
}

#feature{
    width: 90%;
    margin: auto;
    padding: 60px 0px;
    text-align: center;
}

#feature>h1{
    font-size: 40px;
    color: var(--lightblack);
    letter-spacing: 5px;
}

.feature-card-wrapper{
    margin-top: 50px;
    padding: 50px 0px;
}

.feature-card-holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.feature-card > img{
    width: 40%;
}

.feature-card{
    position: relative;
    width: 650px;
    padding: 30px 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    box-shadow: 0px 0px 20px 5px rgba(180, 180, 180, 0.533);
    border-radius: 30px;
}

.feature-text{
    padding-left: 20px;
    text-align: left;
}

.fa-star{
    color: var(--yellow);
    letter-spacing: 8px;
}

.feature-text>h1{
    margin-top: 10px;
    color: var(--lightblack);
    letter-spacing: 5px;
}

.feature-text>p{
    color: #888;
    letter-spacing: 5px;
    margin: 20px 0px;
}

.rate{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    color: var(--lightblack);
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
    border: 2px solid var(--lightblack);
}

#tasty{
    margin: 80px 0px;
    background-image: url(images/deal-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 80px;
    text-align: center;
}

#tasty>p{
    color: white;
    font-size: 20px;
    text-shadow: 0px 0px 2px black;
}

#tasty>h1{
    color: white;
    text-shadow: 0px 0px 5px black;
    font-size: 55px;
    letter-spacing: 5px;
    word-spacing: 5px;
    margin-bottom: 40px;
}

.btn2{
    color: var(--lightblack);
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 20px;
    background-color: var(--yellow);
    cursor: pointer;
    border: none;
}

.btn2:hover{
    transform: scale(1.1);
}

#product{
    width: 90%;
    margin: auto;
    padding: 30px 0px;
    text-align: center;
}

#product>h1{
    font-size: 40px;
    color: var(--lightblack);
    letter-spacing: 5px;
}

.product-card-wrapper{
    margin-top: 50px;
    padding: 50px 0px;
}

.product-card-holder{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.product-card > img{
    width: 40%;
}

.product-card{
    position: relative;
    width: 400px;
    padding: 10px 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    box-shadow: 0px 0px 10px 5px rgba(180, 180, 180, 0.533);
    border-radius: 15px;
    margin-bottom: 30px;
}

.product-text{
    padding-left: 20px;
    text-align: left;
}

.fa-star{
    color: var(--yellow);
    letter-spacing: 8px;
}

.product-text>h1{
    margin-top: 10px;
    color: var(--lightblack);
}

.product-text>p{
    color: #888;
    letter-spacing: 5px;
    margin: 8px 0px;
}

#offer{
    width: 100%;
    margin: auto;
    padding: 60px 0px;
    text-align: center;
}

#offer>h1{
    font-size: 40px;
    color: var(--lightblack);
    letter-spacing: 5px;
}

#offer>.offer-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#offer>.offer-wrapper>.offer-card{
    margin: 2rem;
    position: relative;
    width: 600px;
    height: auto;
    padding: 0px;
}

#offer>.offer-wrapper>.offer-card>img{
    width: 100%;
}
 
#offer>.offer-wrapper>.offer-card>.offer-text{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    color: var(--lightblack);
    text-align: left;
}

#offer>.offer-wrapper>.offer-card>.offer-text>span{
    font-size: 2rem;
}

#offer>.offer-wrapper>.offer-card>.offer-text>h1{
    font-size: 3rem;
    margin: 10px 0px 20px 0px;
}

.two{
    color: white;
}

.btn3{
    color: var(--lightblack);
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 25px;
    background-color: white;
    cursor: pointer;
    border: none;
}

.btn4{
    color: var(--lightblack);
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 25px;
    background-color: var(--yellow);
    cursor: pointer;
    border: none;
}

#contact{
    width: 100%;
    margin: auto;
    height: 85vh;
    padding: 30px 0px;
    text-align: center;
    background-image: url(images/contact-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact{
    width: 100%;
}

#contact>.contact>h1>.fa-paw{
    color: white!important;
}

#contact>.contact>h1{
    margin-top: 60px;
    font-size: 40px;
    color: var(--lightblack);
    letter-spacing: 5px;
}

form{
    padding: 0px 250px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

input{
    width: 500px;
    padding: 10px;
    font-size: 20px;
    color: var(--lightblack);
    margin-bottom: 30px;
    border: none;
    border-radius: 10px;
}

textarea{
    width: 1000px;
    height: 150px;
    padding: 7px;
    font-size: 20px;
    color: var(--lightblack);
    border: none;
    border-radius: 10px;
    margin-bottom: 30px;
}

.btn5{
    color: var(--lightblack);
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 20px;
    background-color:white;
    cursor: pointer;
    border: none;
}

.btn5:hover{
    transform: scale(1.1);
}

footer{
    width: 100%;
    padding: 60px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.social>a>.fab{
    color: var(--lightblack);
    background-color: var(--yellow);
    width: 50px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 20px;
}

.social>a>.fab:hover{
    color: var(--yellow);
    background-color: var(--lightblack);
    transform: scale(1.1);
}

.footer-text>p{
    color: var(--lightblack);
    font-size: 20px;
    letter-spacing: 5px;
    word-spacing: 5px;
    text-align: center;
}

.top{
    position: fixed;
    bottom: 40px;
    right: 20px;
    width: 60px;
    height: 60px;
    transform: rotate(-90deg);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--lightblack);
    color: white;
    font-size: 30px;
    border-radius: 50%;
    opacity: 0;
}

.top:hover{
    color: var(--lightblack);
    background-color: var(--yellow);
}

.topActive{
    opacity: 1;
}

/*-------------------------Media Querries-------------------------*/
@media (max-width: 1500px) {
    .feature-card-holder{
        flex-wrap: wrap;
        justify-content: center;
    }

    .feature-card{
        margin-bottom: 30px;
    }

    #offer>.offer-wrapper>.offer-card{
        margin: 2rem;
        position: relative;
        width: 500px;
    }
}
@media (max-width: 1150px){

    #offer>.offer-wrapper>.offer-card{
        margin: 0rem;
        position: relative;
        width: 450px;
    }

    #offer>.offer-wrapper>.offer-card>.offer-text {
        top: 50%;
        left: 20%;
        transform: translateY(-50%);
    }

    #offer>.offer-wrapper>.offer-card>.offer-text>span {
        font-size: 1rem;
    }

    #offer>.offer-wrapper>.offer-card>.offer-text>h1 {
        font-size: 2rem;
        margin: 10px 0px 20px 0px;
    }

    .btn4,
    .btn3 {
        font-size: 15px;
    }

    header > .navbar > a{
        font-size: 15px;
    }

    .feature-card {
        width: 500px;
        padding: 10px 10px;
        box-shadow: 0px 0px 20px 5px rgb(180 180 180 / 53%);
        border-radius: 30px;
    }

    .feature-text>p {
        font-size: 15px;
        letter-spacing: 0px;
        margin: 10px 0px;
    }

    .feature-text>h1 {
        margin-top: 10px;
        font-size: 20px;
        letter-spacing: 0px;
    }

    .rate {
        width: 50px;
        height: 50px;
        font-size: 15px;
        font-weight: 600;
        padding: 10px;
    }

    .offer-card-holder {
        justify-content: center;
        flex-wrap: wrap;
    }

    .offer-card {
        width: 500px;
        height: 400px;
        padding-left: 60px;
    }

    input{
        width: 300px;
        padding: 10px;
        font-size: 20px;
        margin-bottom: 10px;
        border-radius: 10px;
    }
    
    textarea{
        width: 300px;
        height: 80px;
        padding: 7px;
    }
}

@media (max-width: 990px){

    header> .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        text-align: center;
        padding: 2rem;
        z-index: 1000;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
    }

    header> .navbar >a{
        font-size: 1.5rem;
        padding: 0.5rem;
        display: block;
    }

    #menu{
        display: block;
    }
    
    .show{
        transform: scaleY(1)!important;
        opacity: 1!important;
    }

}

@media  (max-width: 850px) {
    #category{
        width: 90%;
    }
    .category-card-holder {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .category-card > img {
        width: 80%;
    }

    .category-card{
        width: 300px;
        margin-bottom: 60px;
    }

    .category-card>p {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .feature-card-holder {
        justify-content: center;
        margin-top: 50px;
        flex-wrap: wrap;
    }

    .feature-card{
        margin-bottom: 60px;
    }

    #tasty{
        padding: 150px 40px;
    }

    #tasty>h1 {
        font-size: 50px;
        letter-spacing: 0px;
        word-spacing: 0px;
        margin-bottom: 20px;
    }

    .offer-card-holder{
        justify-content: center;
    }

    form{
        padding: 0px 150px;
    }

    #search{
        width: 94%!important;
    }

    #search-box > label {
        font-size: 1rem;
        padding-left: 0.5rem;
    }
}

@media (max-width: 650px){

    .category-card > img {
        width: 80%;
    }

    .category-card>p {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .header-text>h1 {
        font-size: 40px;
        letter-spacing: 5px;
        word-spacing: 5px;
        margin-bottom: 40px;
    }

    #header-container{
        line-height: 40px;
    }

    #contact{
        margin-top: 100px;
    }

    #category>h1 {
        font-size: 30px;
        letter-spacing: 5px;
    }

    #feature>h1 {
        font-size: 30px;
        letter-spacing: 5px;
    }

    #product>h1 {
        font-size: 30px;
        letter-spacing: 5px;
    }

    #offer>h1 {
        font-size: 30px;
        letter-spacing: 5px;
    }

    #category,
    #feature,
    #product,
    #offer{
        padding: 0px;
    }

    .footer-text>p {
        font-size: 15px;
        letter-spacing: 3px;
        word-spacing: 3px;
    }

    header{
        padding: 5px 15px;
    }

    .search-box{
        top: 60%;
    }

    .top{
        bottom: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        padding: 10px;
        font-size: 20px;
    }
}

@media (max-width: 550px){
    #category>h1 {
        font-size: 25px;
        letter-spacing: 2px;
    }

    #feature>h1 {
        font-size: 25px;
        letter-spacing: 2px;
    }

    #product>h1 {
        font-size: 25px;
        letter-spacing: 2px;
    }

    #offer>h1 {
        font-size: 25px;
        letter-spacing: 2px;
    }

    #offer{
        width:100%;
    }

    form{
        padding:0px 50px;
    }

    #contact>h1{
        margin-top: 20px;
    }

}

@media (max-width: 420px){
    #offer>.offer-wrapper>.offer-card{
        margin: 0rem;
        position: relative;
        width: 450px;
    }

    #offer>.offer-wrapper>.offer-card>.offer-text {
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
    }

    #category>h1 {
        font-size: 18px;
        letter-spacing: 2px;
    }

    #feature>h1 {
        font-size: 18px;
        letter-spacing: 2px;
    }

    #product>h1 {
        font-size: 18px;
        letter-spacing: 2px;
    }

    #offer>h1 {
        font-size: 18px;
        letter-spacing: 2px;
    }

    #header-container{
        padding: 80px 50px;
    }

    header > .logo {
        font-size: 1.5rem;
        color: var(--lightblack);
        font-weight: 600;
        letter-spacing: 4px;
    }

    header > .icons > i, header > .icons > a {
        font-size: 1rem;
    }

    .search-box{
        padding: 0.7rem 0px;
    }

    #search {
        width: 88%!important;
    }

    #search-box > label {
        padding-left: 0rem;
    }

    form{
        padding:0px 40px;
    }

    #contact>.contact>h1{
        margin-top: 5px;
        font-size: 30px;
    }

    input{
        width: 300px;
        height: 40px;
    }

    textarea{
        width: 300px;
    }

    .footer-text>p {
        font-size: 18px;
        letter-spacing: 0px;
        word-spacing: 0px;
    }

    .feature-text>h1 {
        margin-top: 5px;
        font-size: 15px;
    }

    .rate{
        display: none;
    }

    .social>a>.fab{
        margin: 10px;
    }
}
